/* nav.css */

/* Styles for the navigation container */

.navbar-custom {
   background-color: lightblue;
}



.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    background-color: #ffffff;
    color: #fff;
    z-index: -3;
  }
  
  /* Style for the logo */
  .nav-container img {
    cursor: pointer;
    
    height: 50px;
  }
  
  /* Styles for the right section containing profile and buttons */
  .right {
    display: flex;
    align-items: center;
  }
  
  /* Styles for profile and logout button when logged in */
  .profile {
    align-items: center;
  }
  
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .profile button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .profile button:hover {
    background-color: #c82333;
  }
  
  /* Styles for register and login buttons when not logged in */
  .buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .nav-container {
      flex-direction: column;
      text-align: center;
    }
  
    .right {
      margin-top: 10px;
    }
  
    .right button {
      margin: 5px 0;
    }
  }
  