/* home.css */

/* Styles for each product item */
.product {
    border: 1px solid #ccc;
    padding: 18px;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
     
  }
  
  /* Styles for the product image */
  .product img {
    max-width: 50%;
    
    
     /* Ensures the image doesn't overflow its container */
    border-radius: 8px 8px 0 0; /* Rounded corners for the top */
    align-self: center; /* Aligns the image to the center horizontally */
  }
  
  /* Rest of your styles for product name and price */
  .product h3 {
    margin-bottom: 1px;
    font-size: 18px;
  }
  
  .product p {
    font-size: 16px;
    color: #555;
  }
  