.form-container input, .form-container select {
    width: 12rem;
}
.form-container input[type="file"] {
    display: none;
}
.form-container img {
    width: 12rem;
    border-radius: 50%;
}
.avatar-container {
    position: relative;
}
.avatar-container span {
    display: block;
    position: absolute;
    height: 3rem;
    width: 3rem;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    transform: translate(-25%, -25%);
}
.avatar-container span img {
    height: 100%;
    width: 100%;
}